.button {
  background: #166e87;
  border-radius: 7px;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#delibera-header {
  background: 50% 50% url(images/topo.png) #fff no-repeat;
  padding: 50px 25px;
}

.delibera-boasvindas {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  max-width: 60%;
}
.page-title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
}


.delibera-apresentacao {

}

.delibera-login { display: none; }
