
.delibera-icon-spin2:before { content: '\e800'; } /* '' */
.delibera-icon-ok:before { content: '\e801'; } /* '' */
.delibera-icon-plus:before { content: '\e802'; } /* '' */
.delibera-icon-print:before { content: '\e803'; } /* '' */
.delibera-icon-down-open:before { content: '\e804'; } /* '' */
.delibera-icon-left-open:before { content: '\e805'; } /* '' */
.delibera-icon-right-open:before { content: '\e806'; } /* '' */
.delibera-icon-up-open:before { content: '\e807'; } /* '' */
.delibera-icon-thumbs-up-alt:before { content: '\e808'; } /* '' */
.delibera-icon-thumbs-down-alt:before { content: '\e809'; } /* '' */
.delibera-icon-reply:before { content: '\e80a'; } /* '' */
.delibera-icon-trash:before { content: '\e80b'; } /* '' */
.delibera-icon-attach:before { content: '\e80c'; } /* '' */
.delibera-icon-users:before { content: '\e80d'; } /* '' */
.delibera-icon-chat:before { content: '\e80e'; } /* '' */
.delibera-icon-calendar:before { content: '\e80f'; } /* '' */
.delibera-icon-newspaper:before { content: '\e810'; } /* '' */
.delibera-icon-key:before { content: '\e811'; } /* '' */
.delibera-icon-cancel:before { content: '\e812'; } /* '' */
.delibera-icon-thumbs-up:before { content: '\e813'; } /* '' */
.delibera-icon-thumbs-down:before { content: '\e814'; } /* '' */
.delibera-icon-chat-empty:before { content: '\e815'; } /* '' */
.delibera-icon-cog:before { content: '\e816'; } /* '' */
.delibera-icon-facebook-official:before { content: '\e817'; } /* '' */
.delibera-icon-facebook:before { content: '\e818'; } /* '' */
.delibera-icon-gplus-squared:before { content: '\e819'; } /* '' */
.delibera-icon-gplus:before { content: '\e81a'; } /* '' */
.delibera-icon-twitter:before { content: '\e81b'; } /* '' */
.delibera-icon-twitter-squared:before { content: '\e81c'; } /* '' */
.delibera-icon-whatsapp:before { content: '\e81d'; } /* '' */
.delibera-icon-edit:before { content: '\e81e'; } /* '' */