@CHARSET "UTF-8";


.delibera-flow-panel.delibera-flow-panel-post {
    display: block;
    float: none;
    overflow: hidden;
    position: relative;
}

.delibera-flow-panel .column{
	width:49%;
	margin-right:.5%;
	min-height:150px;
	background:#fff;
	float:left;
}
.delibera-flow-panel .column .dragbox{
	margin:5px 2px  20px;
	background:#fff;
	position:"relative";
	border:1px solid #946553;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#poststuff .delibera-flow-panel .column .dragbox h2,
.delibera-flow-panel .column .dragbox h2 {
	margin:0;
	font-size:12px;
	background:#946553;
	color:#fff;
	border-bottom:1px solid #946553;
	font-family:Verdana;
	cursor:move;
	padding:5px;
}

.delibera-flow-panel .dragbox-content{
	background:#fff;
	min-height:100px; margin:5px;
	font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em;
}
.delibera-flow-panel .column  .placeholder{
	background: #EED5B7;
	border:1px dashed #946553;
}

.delibera-flow-panel .opIcons
{
background-image: url('../images/iconSpirite.gif')!important;
background-repeat: no-repeat;
float:right;
height:13px;
width:13px;
margin:0px 2px;
}

.delibera-flow-panel .maxmin
{
	background-position:-26px 1px;
	cursor: pointer;
}

.delibera-flow-panel .delete
{
	background-position:-269px center;
	padding-top:1px;
	cursor: pointer;
}

.delibera-flow-panel-config #column2 .ui-sortable-handle span:last-child {
    display: none;
}

.delibera-flow-panel-config #column2 .dragbox-content {
    display: none;
}

.delibera-flow-panel-post #column1 h2 span {
    display: none;
}
